.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #222222;
}

.input-add {
  height: 30px;
  width: 250px;
  border: none;
  background: none;
  border-bottom: 1px solid whitesmoke;
  color: white;
  padding: 0 10px;
  outline: none;
}

.button-add {
  width: 100px;
  height: 30px;
  font-size: 12px;
  background: none;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  margin-left: 10px;
}

.button-add:hover {
  background: whitesmoke;
  color: #222222;
  cursor: pointer;
}

.todo-item {
  position: absolute;
  cursor: move;
  min-width: 215px;
  color: black;
  padding: 1em;
  border-radius: 5px;
}

.delete-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
}
